.title {
    text-align: center;
    font-size: 30px;

}

.newBook {
    font-size: 20px;
    margin-left: 30px;


}

.bookFormTitle {
    text-align: center;
}

.bookForm {
    align-self: center;
}

.newBookDiv {
    align-items: center;
}